{% load i18n %}
<!doctype html>
<html lang="en">

<head>
    <title>{{ site.name }} {% trans "registration" %}</title>
</head>

<body>
<p>
    ◆◇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━<br>
    {% trans "※本メールは、Universe.arより" %}<br>
    {% trans "アカウント登録された方にお送りしています。" %}<br>
    {% trans "もし、お心当たりが無い場合は、お手数ですがこのままこのメールを破棄して" %}<br>
    {% trans "いただければアカウント登録はなされません。" %}<br>
    {% trans "またその旨、下記までご連絡いただければ幸いです。" %}<br>
    ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━◆◇
</p>
<p>
    {% trans "※※ まだ、会員登録は終了していません ※※" %}<br>
    {% trans "登録を完了する為には、以下のURLをクリックしてください。" %}<br>
    {% trans "正常にリンクできない場合は、ブラウザのアドレスに張付けて確認してください。" %}<br>
    {% trans "複数行に表示されている場合は、つなげて1行にしてから張付けてください。" %}
</p>

<p>
    <a href="http://{{site.domain}}{% url 'registration_activate' activation_key %}">
        {{site.domain}}{% url 'registration_activate' activation_key %}
    </a>
</p>

<p>
    ◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆<br>
    {% trans "Universe.ar" %}<br>
    "{% trans "とっておきの1枚から、広がる世界" %}"<br>
    {% trans "URL: https://universear.hiliberate.biz" %}<br>
    ◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆
</p>


</body>

</html>


{% comment %}
**registration/activation_email.html**

Used to generate the html body of the activation email. Should display a
link the user can click to activate the account. This template has the
following context:

``activation_key``
    The activation key for the new account.

``expiration_days``
    The number of days remaining during which the account may be
    activated.

``site``
    An object representing the site on which the user registered;
    depending on whether ``django.contrib.sites`` is installed, this
    may be an instance of either ``django.contrib.sites.models.Site``
    (if the sites application is installed) or
    ``django.contrib.sites.requests.RequestSite`` (if not). Consult `the
    documentation for the Django sites framework
    <http://docs.djangoproject.com/en/dev/ref/contrib/sites/>`_ for
    details regarding these objects' interfaces.

``user``
    The new user account

``request``
    ``HttpRequest`` instance for better flexibility.
    For example it can be used to compute absolute register URL:

        {{ request.scheme }}://{{ request.get_host }}{% url 'registration_activate' activation_key %}
{% endcomment %}
