{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Activated" %}{% endblock %}

{% block content %}
<div class="baseDiv nomalFont" style="text-align:center">
    <div class="contentsDiv">

        <p>
            {% trans "アカウント認証が完了しました。" %}
            {% if not user.is_authenticated %}
            <br>{% trans "こちらから<a href='/accounts/login/'>ログイン</a>して下さい。" %}
            {% endif %}
        </p>
    </div>
</div>
{% endblock %}


{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}
