{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<div class="baseDiv nomalFont" style="text-align:center">
    <div class="contentsDiv">
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="form-control btn-primary" style="width:200px;margin-top:5px" value="{% trans 'Change password' %}" />
        </form>
    </div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
