{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset complete" %}{% endblock %}

{% block content %}

<div class="baseDiv nomalFont" style="text-align:center">
    <div class="contentsDiv">

        <p>
            {% trans "パスワードのリセットが完了しました。" %}
            {% blocktrans %}<a href="/accounts/login">こちら</a>からログインして下さい。{% endblocktrans %}.
        </p>

        <!-- <p>
            {% trans "Your password has been reset!" %}
            {% blocktrans %}You may now <a href="/accounts/login">log in</a>{% endblocktrans %}.
        </p> -->
    </div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
