{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<div class="baseDiv nomalFont" style="text-align:center">
    <div class="contentsDiv">

        <p>
            {% blocktrans %}
            パスワードをリセットする為にメールアドレスを入力して下さい。
            {% endblocktrans %}
        </p>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{% trans 'Reset password' %}" />
        </form>
    </div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
