{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Activation Resent" %}{% endblock %}

{% block content %}
<div class="baseDiv nomalFont" style="text-align:center">
    <div class="contentsDiv">
        <p>
          {% blocktrans %}認証メールを {{ email }} に送信したのでご確認下さい。{% endblocktrans %}
        </p>

<!--
        {% blocktrans %}placeholder test {{ email }}{% endblocktrans %}

        <p>
          {% blocktrans %}We have sent an email to {{ email }} with further instructions.{% endblocktrans %}
        </p> -->
    </div>
</div>
{% endblock %}


{% comment %}
**registration/resend_activation_complete.html**
Used after form for resending account activation is submitted. By default has
the following context:

``email``
    The email address submitted in the resend activation form.
{% endcomment %}
