{% extends "base.html" %}

{% load staticfiles %}

{% block title %}UNIVERSE AR monitor{% endblock title %}

{% block extrahead %}
{% endblock %}

{% block content %}

{% load i18n %}

<div class="content-wrap" style="margin-top: 20px;">

    <div class="basicBox" style="background-color:#3878BC;padding-bottom:30px;text-align:center">
        <div class="topLeft" style="display:inline-block" >
            <div style="font-size:14pt;font-weight:bold;text-align:left" class="content-wrap fontShrik welcomeDiv">

                <h2 style="margin:0px;font-weight:700;text-align:center">{% trans 'UNIVERSE AR β版モニター募集' %}</h2>

                <div style="text-align:center;margin:30px 0px 30px 0px;width:100%">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/wLRvMQxeQxY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>

                <p　class="list-mv02" style="margin-top:15px">
                    アクセス頂きありがとうございます。<br>
                    こちらのサービス「UNIVERSE AR」を運営している岡村 匡洋と申します。<br>
                    <br>
                    この度、本サービスのβ版を利用して感想をフィードバックして頂けるモニターの方を募集したいと思います。<br>
<br>
                    昨今ARは非常に注目を集めており、今後もっとも成長も見込みる技術/市場の一つだと思います。<br>
                    しかし一部のビックタイトルのゲームを除き、まだまだ一般的に浸透していないとも思います。<br>
                    <!-- （いくつかのアプリやサービスに期待を寄せましたが、どれも個人的に完全に満足できるモノではありませんでした。）<br> -->
<br>
                    そのような中で特別な知識が無くても誰でも手軽にARに触れられ、<br>
                    さらにオリジナルARコンテンツまで作成できるプラットフォームがあったら面白いのではないか？との想いから本サービスを作成しました。<br>
<br>
                    必要なモノはiPhone(7以上を推奨)のみで難しい操作も無くご利用頂けます。<br>
                    (もし操作性が悪い部分があれば是非フィードバックして頂きたいです)<br>
                    また現在、最善を尽くしていますがどうしても手が回らない部分がありますので開発・その他で協力して頂ける方を探しております。<br>
<br>
                    話がそれましたがβ版モニターに興味持って頂けましたら下記要領で是非ご連絡下さい。<br>
                    サービスの内容は下記URLで確認して頂き、テストは既存ターゲットの読込、オリジナルARの作成＋α でご自由にサービスを使用して頂けたらと思います。<br>
                    <a class="clink" href="https://universear.hiliberate.biz/hlar/index">
                        https://universear.hiliberate.biz/hlar/index
                    </a>
                    <br>
<br>
                    [必要なモノ]<br>
                    iPhone(7以上を推奨)の端末<br>
<br>
                    [ご協力頂いたお礼]<br>
                    リリース後、何らかの形で優遇させて頂きます。<br>
                    (～20,000回 再生無料など)<br>
<br>
                    [募集人数]<br>
                    当面5名ほどの募集とさせて頂きます。<br>
<br>
                    [応募方法]<br>
                    1.下記アドレスへPCのメールアドレスを明記の上、送信して下さい。<br>
                    info@insight.hiliberate.biz<br>
<br>
                    2.こちらから招待メールを返信します。<br>
<br>
                    3.招待メールに従い「TestFlight」というiPhoneアプリを通して「UNIVERSE AR」をインストールします。<br>
<br>
                    4.下記URLで使用方法を確認してサービスを利用する。<br>
                    <a class="clink" href="https://universear.hiliberate.biz/hlar/index">
                        https://universear.hiliberate.biz/hlar/index
                    </a>

                    <br>
<br>
                    5.利用した感想を上記メールアドレスまでフィードバックして頂く。<br>
<br>
                    不明点などお気軽にご連絡下さい。<br>
                    どうぞよろしくお願い致します！<br>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
