{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Universe.ar monitor{% endblock title %}

{% block extrahead %}
{% endblock %}

{% block content %}

{% load i18n %}

<div class="content-wrap" style="margin-top: 20px;">

    <div class="basicBox" style="background-color:#3878BC;padding-bottom:30px;text-align:center">
        <div class="topLeft" style="display:inline-block" >
            <div style="font-size:14pt;font-weight:bold;text-align:left" class="content-wrap fontShrik welcomeDiv">

                <h2 style="margin:0px;font-weight:700;text-align:center">{% trans 'Universe.ar β版モニター募集' %}</h2>

                <div class="youtube" style="text-align:center;margin:30px 0px 30px 0px">
                    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/wLRvMQxeQxY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
                    <iframe src="https://www.youtube.com/embed/wLRvMQxeQxY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>

                <p　class="list-mv02" style="margin-top:15px">

                    アクセス頂きありがとうございます。<br>
                    当サービス「Universe.ar」を運営している岡村 匡洋と申します。<br>
<br>
                    昨今AR技術(現実拡張/Augmented Reality)は非常に注目を集めており、今後もっとも成長も見込みる技術/市場のひとつだと思いますが、一部のビックタイトルを除き一般的にはまだまだ浸透していないのが現状です。<br>
<br>
                    そこで「特別な知識が無くても誰でも手軽にARに触れられ、さらにオリジナルARコンテンツまで作成できるプラットフォームがあったら面白いのではないか？」という想いから本サービスを作成しました。<br>
                    必要なモノはiPhone(7以上を推奨)のみ。難しい操作も無くご利用頂けます。<br>
<br>
                    しかし、現在ももちろん最善を尽くしていますが、どうしても手が回らない部分があるのも事実です。<br>
                    そこで正式リリース前ではありますが、本サービスのβ版を利用して感想をフィードバックして下さるモニター様を募集致します。<br>
                    (並びに開発・その他で協力して頂ける方もいらっしゃいましたら是非ご連絡下さい。)
<br>
                    テスト内容は<br>
                    ＊既存ターゲットの読込<br>
                    ＊オリジナルARの作成＋α<br>
                    (そのほか、ご自由にサービスをご利用下さい)<br>
                    もし操作性が悪い部分があれば是非フィードバックして頂けると大変有難いです。<br>
<br>
                    β版モニターに興味持って頂けましたら下記要領で是非ご連絡下さい。<br>
<br>
<br>
                    [応募方法]<br>
                    1.下記アドレスへPCのメールアドレスを明記の上、送信して下さい。<br>
                    <a class="clink" href="mailto:info@insight.hiliberate.biz">info@insight.hiliberate.biz</a> <br>
<br>
                    2.こちらから招待メールを返信します。<br>
<br>
                    3.招待メールに従いiPhoneアプリ「TestFlight」を通して「Universe.ar」をインストールします。<br>
<br>
                    4.下記URLで使用方法を確認してサービスを利用する。<br>
                    <a class="clink" href="https://universear.hiliberate.biz/hlar/index">
                        https://universear.hiliberate.biz/hlar/index
                    </a>
                    <br>
                    <br>
                     <テスト内容><br>
                    ＊既存ターゲットの読込<br>
                    ＊オリジナルARの作成＋α <br>
                    (そのほかご自由にサービスをご利用下さい)<br>
<br>
                    5.利用した感想を上記メールアドレスまでフィードバックして頂く。<br>
<br>
<br>
                    [必要なモノ]<br>
                    iPhone(7以上を推奨)の端末<br>
<br>
                    [ご協力頂いたお礼]<br>
                    リリース後、何らかの形で優遇させて頂きます。<br>
                    (～20,000回 再生無料など)<br>
<br>
                    [募集人数]<br>
                    当面5名ほどの募集とさせて頂きます。<br>
<br>
<br>
                    不明点などお気軽にご連絡下さい。<br>
                    どうぞよろしくお願い致します！<br>



                    <!-- アクセス頂きありがとうございます。<br>
                    こちらのサービス「Universe.ar」を運営している岡村 匡洋と申します。<br>
                    <br>
                    正式リリース前ではありますがこの度、本サービスのβ版を利用して感想をフィードバックして頂けるモニターの方を募集したいと思います。<br>
<br>
                    昨今AR技術(現実拡張/Augmented Reality)は非常に注目を集めており今後もっとも成長も見込みる技術/市場の一つだと思います。<br>
                    しかし一部のビックタイトルを除き、まだまだ一般的には浸透していないとも思います。<br>
<br>
                    そこで特別な知識が無くても誰でも手軽にARに触れられ、さらにオリジナルARコンテンツまで作成できるプラットフォームがあったら面白いのではないか？との想いから本サービスを作成しました。<br>
<br>
                    必要なモノはiPhone(7以上を推奨)のみで難しい操作も無くご利用頂けます。<br>
                    (もし操作性が悪い部分があれば是非フィードバックして頂きたいです！)<br>
                    また現在、最善を尽くしていますがどうしても手が回らない部分がありますので開発・その他で協力して頂ける方を探しております。<br>
<br>
                    話がそれましたがβ版モニターに興味持って頂けましたら下記要領で是非ご連絡下さい。<br>
                    サービスの内容は下記URLで確認して頂き、テストは既存ターゲットの読込、オリジナルARの作成＋α でご自由にサービスを使用して頂けたらと思います。<br>
                    <a class="clink" href="https://universear.hiliberate.biz/hlar/index">
                        https://universear.hiliberate.biz/hlar/index
                    </a>
                    <br>
<br>
                    [必要なモノ]<br>
                    iPhone(7以上を推奨)の端末<br>
<br>
                    [ご協力頂いたお礼]<br>
                    リリース後、何らかの形で優遇させて頂きます。<br>
                    (～20,000回 再生無料など)<br>
<br>
                    [募集人数]<br>
                    当面5名ほどの募集とさせて頂きます。<br>
<br>
                    [応募方法]<br>
                    1.下記アドレスへPCのメールアドレスを明記の上、送信して下さい。<br>
                    <a class="clink" href="mailto:info@insight.hiliberate.biz">info@insight.hiliberate.biz</a>
                    <br>
<br>
                    2.こちらから招待メールを返信します。<br>
<br>
                    3.招待メールに従いiPhoneアプリ「TestFlight」を通して「Universe.ar」をインストールします。<br>
<br>
                    4.下記URLで使用方法を確認してサービスを利用する。<br>
                    <a class="clink" href="https://universear.hiliberate.biz/hlar/index">
                        https://universear.hiliberate.biz/hlar/index
                    </a>

                    <br>
<br>
                    5.利用した感想を上記メールアドレスまでフィードバックして頂く。<br>
<br>
                    不明点などお気軽にご連絡下さい。<br>
                    どうぞよろしくお願い致します！<br> -->
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
