{% extends "base.html" %}

{% load staticfiles %}  <!-- ← 追加 -->

{% block title %}UNIVERSE top{% endblock title %}

{% block extrahead %}
{% endblock %}

{% block content %}

{% load i18n %}

<!-- <div class="content-wrap" style="margin-top: 20px;"> -->
<div class="content-wrap" style="margin-top: 20px;">

    <!-- <div style="width:100%;height:600px;background-color:#50c6db; padding-top:100px"> -->
    <div class="basicBox" style="background-color:#3878BC;padding-bottom:30px;">


    <!-- <div style="width:100%;height:600px;padding-top:100px" class="bgGradation"> -->

    <!-- <div style="width:100%;height:600px;background-color:#90C3D2; padding-top:100px"> -->
        <div class="topLeft" style='float:left;'>

            <div class="content-wrap fontShrik welcomeDiv">
                <!-- <img src="{% static "images/" %}app_icon_U_type_resize.png" class="cLogoPosition " style="margin-left:-5px" /><br> -->
                {% trans 'welcome to UNIVERSE' %}<br>
                <hr style="border: 1px solid white;margin:0px 0px 8px 0px;">
                {% trans '新しいARアプリ「UNIVERSE」へようこそ' %}<br>
                {% trans 'すぐに無料であなただけのARコンテンツが作成できます。' %}<br>
                <div  style="margin-top:10px">
                    <button type="button" class="btn btn-info">{% trans 'サインアップ' %}</button>
                    <button type="button" class="btn btn-info">{% trans '使い方' %}</button>
                    <!-- <button type="button" class="btn btn-primary">{% trans 'サインアップ' %}</button>
                    <button type="button" class="btn btn-primary">{% trans '使い方' %}</button> -->
                </div>
            </div>

            <!-- <p class="content-wrap" style="width:450px;margin-top:80px;margin-left:70px;color:white; font-size:20pt;font-family: 'Shrikhand', cursive;">
                {% trans 'welcome to UNIVERSE' %}<br>
                {% trans '新しいARアプリ「UNIVERSE」へようこそ' %}<br>
                {% trans 'すぐに無料であなただけのARコンテンツが作成できます。' %}<br>
                <button type="button" class="btn btn-primary" >{% trans 'サインアップ' %}</button>
                <button type="button" class="btn btn-primary">{% trans '使い方' %}</button>
            </p> -->
        </div>
        <div class="topRight" style='float:left;'>
            <img src="{% static "images/" %}iPhone_pc.png" style="width:100%" />
        </div>
    </div>


<!-- <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel"> -->

      <!-- Indicators -->
      <!-- <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol> -->

      <!-- Wrapper for slides -->
      <!-- <div class="carousel-inner">
        <div class="item active slider-d">
            <img src="{% static "images/" %}top_re_3_dark.jpg" class="slider-img" /><br>
            <div class="carousel-caption-lo slider-p">
                <h2>welcome to UNIVERSE</h2>

                <p style="color:white;font-size:20px;">
                    {% trans '新しいARアプリ「UNIVERSE」へようこそ！' %}<br>
                    {% trans 'すぐに無料であなただけのARコンテンツが作成できます。' %}
                </p>
                <button type="button" class="btn btn-primary">get start</button>
            </div>
        </div>

        <div class="item slider-d">
            <img src="{% static "images/" %}top_re_2_dark.jpg" class="slider-img" /><br>
            <div class="carousel-caption-lo slider-p">
                <h2>YOU CAN USE YOUR OWN AR</h2>

                <p style="color:white;font-size:20px;">
                    take it easy.<br>
                    there are very few steps.
                    let's show around.
                </p>
                <button type="button" class="btn btn-primary">get start</button>
            </div>
        </div>
        <div class="item slider-d">
            <img src="{% static "images/" %}top_re_1_dark.jpg" class="slider-img" /><br>
            <div class="carousel-caption-lo slider-p">
                <h2>OF COURSE,USE FOR BUSINESS</h2>

                <p style="color:white;font-size:20px;">
                    please contact us.<br>
                </p>
                <button type="button" class="btn btn-primary">get start</button>
            </div>
        </div>
      </div> -->

      <!-- Controls -->
      <!-- <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev" style="width:5%;">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next" style="width:5%;">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a> -->
<!-- </div> -->


<!-- <div class="content-top fontShrik" style="background-color:white;color:#3878BC;padding-top:50px;text-align:center"> -->
<!-- <div class="content-top" style="background-color:white;color:#3878BC;padding-top:50px;font-family:'Lucida Grande', 'ヒラギノ角ゴ Pro W3';text-align:center"> -->
    <div class="content-top fontShrik basicBox" style="background-color:white;color:#3878BC;text-align:center">

        <h2 style="margin:0px">{% trans '使い方' %}</h2>
        簡単な数ステップであなたのオリジナルARコンテンツを作成可能です。<br>
        <br>
        <div class="step-box">
            <img src="{% static "images/" %}1_sign_up_icon_blue.png" style="width:150px" /><br>
            <p>
                <button type="button" class="btn btn-primary" style="margin-bottom:10px">{% trans 'サインアップ' %}</button><br>
                1.<a href="#">こちら</a>からユーザー登録(gmailのアカウントでも可能)<br>
            </p>
        </div>

        <div class="step-box">
            <img src="{% static "images/" %}2_upload_blue.png" style="width:150px" /><br>
            <p>
                <button type="button" class="btn btn-primary" style="margin-bottom:10px">{% trans 'ターゲット登録' %}</button><br>
                2.ターゲット登録から認識したい画像(ターゲット)と表示する動画を登録<br>
            </p>
        </div>

        <div class="step-box">
            <img src="{% static "images/" %}3_install_icon_blue.png"  style="width:150px"/><br>
            <p>
                <button type="button" class="btn btn-primary" style="margin-bottom:10px">{% trans 'インストール' %}</button><br>
                3.アプリ「UNIVERSE」をiPhoneにインストールする。<br>
            </p>
        </div>

        <div class="step-box">
            <img src="{% static "images/" %}4_try_icon_blue.png" style="width:150px" /><br>
            <button type="button" class="btn btn-primary" style="margin-bottom:10px">{% trans 'エンジョイ！' %}</button><br>
            <p>4.アプリを起動してターゲットにかざせばオリジナルARコンテンツの完成です。</p><br>
        </div>

        <div style="clear:both"></div>
    </div>

  <!-- <div style="width:100%;height:600px;background-color:white;color:#e0368c;padding-top:20px;font-family: 'Shrikhand', cursive;text-align:center"> -->

  <!-- <img src="{% static "images/" %}top_re_1_dark.jpg" style="width:100%" /> -->


    <div class="fontShrik basicBox" style="background-color:#5ABB73;color:white;padding:50px 0px 50px 0px;text-align:center">
        <h2 style="margin:0px">TOP TARGETS</h2>
        人気のターゲットを是非アプリからお試し下さい。<br>

        <div style="margin-top:20px;">
            <div class="step-box"><img src="{% static "images/" %}4_use.jpg" class="target-list" /></div>
            <div class="step-box"><img src="{% static "images/" %}4_use.jpg" class="target-list" /></div>
            <div class="step-box"><img src="{% static "images/" %}4_use.jpg" class="target-list" /></div>
            <div class="step-box"><img src="{% static "images/" %}4_use.jpg" class="target-list" /></div>
            <div class="step-box"><img src="{% static "images/" %}4_use.jpg" class="target-list" /></div>
            <div class="step-box"><img src="{% static "images/" %}4_use.jpg" class="target-list" /></div>
        </div>
    </div>

    <div class="fontShrik basicBox" style="background-color:#F06868;color:white;text-align:center">
        <h2 style="margin:0px">CONTACT</h2>
        ご要望/お問い合わせはこちらから<br>

        <div class="contactDiv">info@insight.hiliberate.biz</div>
    </div>

</div>


<script type="text/javascript">
$(document).ready(function() {
    $(".slider-d").imgLiquid();
    $('.carousel').carousel();
});
</script>

{% endblock content %}
