{% extends "base.html" %}

{% load staticfiles %}  <!-- ← 追加 -->

{% block title %}UNIVERSE AR top{% endblock title %}

{% block extrahead %}
{% endblock %}

{% block content %}

{% load i18n %}

<div class="content-wrap" style="margin-top: 20px;">

    <div class="basicBox" style="background-color:#3878BC;padding-bottom:30px;text-align:center">
        <div class="topLeft" style="display:inline-block" >
            <div class="content-wrap fontShrik welcomeDiv">
                {% trans 'welcome to UNIVERSE AR' %}<br>
                <hr style="border: 1px solid white;margin:0px 0px 8px 0px;padding:0px 20px 0px 20px;">
                {% trans '新しいARアプリ「UNIVERSE AR」へようこそ' %}<br>
                {% trans '無料ですぐにあなただけのARコンテンツが作成できます。' %}<br>
                <!-- {% trans 'ぜひ今すぐトライしてください。' %}<br> -->
                <!--add 201171128-->
                <div  style="margin-top:10px">
                    <a href="/accounts/register/" class="btn btn-info">{% trans 'サインアップ' %}</a>
                    <a href="#howtouse" class="btn btn-info">{% trans '使い方' %}</a>
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
        <div class="topRight" style="display:inline-block">
            <!-- <img src="{% static "images/" %}iPhone_pc.png" style="width:100%" /> -->
            <!-- <img src="{% static "images/" %}top_waku.png" style="width:100%" /> -->
            <img src="{% static "images/" %}pc_monitor.png" style="width:100%" />

            <div class="top-video-div">
                <video class="top-video"
                    preload="auto" data-func="play_video" loop="true" muted="true" autoplay="true" muted
                    playsinline="true"
                    poster="{% static "images/" %}app_icon_U_layer_with_type_resize.png">
                        <source src="{% static "images/" %}universe_pv.mp4">
    			</video>
            </div>

            <div class="top-iphone-div">
                <img src="{% static "images/" %}iPhone5-Mockup.png" style="width:100%" />
            </div>


        </div>
    </div>

    <div id="howtouse" class="content-top fontShrik basicBox" style="background-color:white;color:#3878BC;text-align:center">

        <h2 style="margin:0px">{% trans '使い方' %}</h2>
        {% trans "簡単な数ステップであなたのオリジナルARコンテンツを作成可能です。" %}<br>
        <br>

        <div class="step-box list-mv07">
            <img src="{% static "images/" %}1_sign_up_icon_blue.png" style="width:150px" /><br>
            <p>
                <a href="/accounts/register/" class="btn btn-primary" style="margin-bottom:10px">{% trans 'サインアップ' %}</a>
                <br>
                <a href="#">{% trans "1.こちらからユーザー登録[gmailのアカウントでも可能]" %}</a>
                <br>
            </p>
        </div>

        <div class="step-box list-mv07">
            <img src="{% static "images/" %}2_upload_blue.png" style="width:150px" /><br>
            <p>
                <a href="/hlar/target/add/" class="btn btn-primary" style="margin-bottom:10px">{% trans 'ターゲット登録' %}</a>
                <br>
                {% trans "2.ターゲット登録から認識したい画像[ターゲット]と表示する動画を登録" %}<br>
            </p>
        </div>

        <div class="step-box list-mv07">
            <img src="{% static "images/" %}3_install_icon_blue.png"  style="width:150px"/><br>

            <p>
                <!-- <button type="button" class="btn btn-primary" style="margin-bottom:10px">{% trans 'インストール' %}</button><br> -->
                <img src="{% static "images/" %}available-on-the-app-store.png"  style="width:150px"/><br>
                {% trans "3.アプリ「UNIVERSE AR」をiPhoneにインストールする。" %}<br>
            </p>
        </div>

        <div class="step-box list-mv07">
            <img src="{% static "images/" %}4_try_icon_blue.png" style="width:150px" /><br>
            <button type="button" class="btn btn-primary" style="margin-bottom:10px">{% trans 'エンジョイ！' %}</button><br>
            <p>{% trans "4.アプリを起動してターゲットにかざせばオリジナルARコンテンツの完成です。" %}</p><br>
        </div>


        <div style="clear:both"></div>
    </div>


    <div class="fontShrik basicBox" style="background-color:#5ABB73;color:white;padding:50px 0px 50px 0px;text-align:center">
        <h2 style="margin:0px">TOP TARGETS</h2>
        {% trans "人気のターゲットを是非アプリからお試し下さい。" %}<br>

        <div style="margin-top:20px;">
            {% for target in targets %}
                <div class="step-box list-mv06">
                    <img src="{{s3_FQDN}}{{target.img_name}}" class="target-list" />
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="fontShrik basicBox" style="background-color:#F06868;color:white;text-align:center">
        <h2 style="margin:0px">CONTACT</h2>
        {% trans "ご要望/お問い合わせはこちらから" %}<br>

        <div class="contactDiv">info@insight.hiliberate.biz</div>
    </div>

</div>


<script type="text/javascript">
$(document).ready(function() {
    $(".slider-d").imgLiquid();
    $('.carousel').carousel();
});
</script>

{% endblock content %}
