{% extends "base.html" %}

{% load staticfiles %}  <!-- ← 追加 -->

{% block title %}UNIVERSE AR top{% endblock title %}

{% block extrahead %}
{% endblock %}

{% block content %}

{% load i18n %}

<div class="content-wrap" style="margin-top: 20px;">

    <div class="basicBox" style="background-color:#3878BC;padding-bottom:30px;text-align:center">
        <div class="topLeft" style="display:inline-block" >
            <div style="font-size:14pt;font-weight:bold" class="content-wrap fontShrik welcomeDiv">
                {% if is_mobile %}
                    <span style="font-size:30pt; font-weight:700;">{% trans 'welcome to UNIVERSE AR' %}</span><br>
                    "とっておきの1枚から、広がる世界"
                    <div style="text-align:left;font-size:11pt;font-weight:400">
                        {% trans '新しいARサービス「UNIVERSE AR」へようこそ。無料ですぐにあなただけのARコンテンツが作成できます。' %}<br>
                    </div>
                {% else %}
                    <span style="font-size:40pt;font-weight:700;">{% trans 'welcome to UNIVERSE AR' %}</span><br>
                    "とっておきの1枚から、広がる世界"
                    <div style="margin-top:20px;font-size:11pt;font-weight:400">
                        {% trans '新しいARサービス「UNIVERSE AR」へようこそ' %}<br>
                        {% trans '無料ですぐにあなただけのARコンテンツが作成できます。' %}<br>
                    </div>
                    <!-- {% trans 'ぜひ今すぐトライしてください。' %}<br> -->

                {% endif %}

                <!--add 201171128-->
                <div  style="margin-top:20px;font-weight:bold;">
                    <a href="/accounts/register/" class="btn btn-info btnTopSignUp">{% trans 'サインアップ' %}</a>
                    <a href="#howtouse" class="btn btn-info btnTopHowToUse">{% trans '使い方' %}</a>
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
        <div class="topRight" style="display:inline-block;margin-top:10px">
            <!-- <img src="{% static "images/" %}iPhone_pc.png" style="width:100%" /> -->
            <!-- <img src="{% static "images/" %}top_waku.png" style="width:100%" /> -->
            <img src="{% static "images/" %}pc_monitor.png" style="width:100%" />

            <div class="top-video-div">
                <!-- <video class="top-video"
                    preload="auto" data-func="play_video" loop="false" muted="true" autoplay="false" muted
                    playsinline="true"
                    poster="{% static "images/" %}app_icon_U_layer_with_type_resize.png">
                        <source src="{% static "images/" %}universe_pv.mp4">
    			</video> -->

                <!-- <div class="top-video youtube" style="text-align:center;margin:30px 0px 30px 0px"> -->
                <div class="top-video youtubeTopPage">
                    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/wLRvMQxeQxY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
                    <iframe src="https://www.youtube.com/embed/wLRvMQxeQxY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>

            </div>

            <div class="top-iphone-div">
                <img src="{% static "images/" %}iPhone5-Mockup.png" style="width:100%" />
            </div>


        </div>
    </div>

    <div id="howtouse" class="content-top fontShrik basicBox" style="background-color:white;color:#3878BC;text-align:center">

        <h2 style="margin:0px;font-weight:700;">{% trans 'UNIVERSE ARで出来ること' %}</h2>
        <!-- {% trans "簡単な数ステップであなたのオリジナルARコンテンツを作成可能です。" %}<br> -->
        <p　class="list-mv02" style="margin-top:15px">
            {% trans "このサイトでターゲット画像、再生される動画を登録します。そしてターゲット画像をアプリで読み取ると動画が再生されます。" %}<br>
        </p>

        <div>
                <div class="what-universe-can-do-box list-mv06">
                    <img src="{% static "images/" %}1_upload.jpg" class="target-list" /><br>
                    {% trans "1.このサイトでログイン後に画像(ターゲット)と動画(コンテンツ)をアップロードし、ARコンテンツを作成。※簡易登録の場合はサインアップの必要はありません。" %}
                </div>
                <div class="what-universe-can-do-box list-mv06">
                    <img src="{% static "images/" %}2_forcus.jpg" class="target-list" /><br>
                    {% trans "2.お手持ちのiPhoneにUNIVERSE.ARアプリをインストールし、登録した画像(ターゲット)を読み込む。" %}
                </div>
                <div class="what-universe-can-do-box list-mv06">
                    <img src="{% static "images/" %}3_get_ar.jpg" class="target-list" /><br>
                    {% trans "3.登録した動画(コンテンツ)が再生されオリジナルARをお楽しみ頂けます！" %}
                </div>
        </div>


        <form style="margin-top:50px" id="uploadForm" action="{% url 'hlar:target_temp_add' %}" method="post" enctype="multipart/form-data" class="form-horizontal basicForm" role="form">
            {% csrf_token %}

            <p　class="list-mv02" style="margin-top:15px;">
                <span style="font-size:15pt">{% trans "試しに登録してみましょう。" %}</span>
            </p>

            <table class="nomalFont list-mv02 tempAddTbl">
                <tr>
                    <td style="width:100px">
                        {% trans 'ターゲット画像' %}
                    </td>
                    <td style="text-align:left; width:300px">
                        <input type="file" name="target" style="width:100%; margin-top:5px;">
                        <p style='margin-top:5px'>
                            <ul style='font-size:7pt; padding-left:20px;'>
                                <li>{% trans 'jpg画像のみ登録可能です。' %}{% trans '[最大2MBまで]' %}</li>
                                <!-- <li>{% trans '過度に複雑な画像はターゲット画像に向きません。' %}{% trans 'シンプルなマーク/ロゴ画像を推奨します。' %}</li> -->
                                <!-- <li>{% trans 'iPhoneで撮影した画像は2MBを超える可能性があるのでスクリーンショットした画像の使用を推奨します。' %}</li> -->
                            <ul>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'コンテンツ動画' %}
                    </td>
                    <td style="text-align:left">
                        <input type="file" name="contents" style="width:100%; margin-top:5px;">
                        {% if target.content_name %}
                            <video style="width:300px; margin-top:5px" src="{{s3_FQDN}}{{target.content_name}}" controls>
                              Your browser does not support the <code>video</code> element.
                            </video>
                        {% endif %}
                        <p style='font-size:9pt;margin-top:5px'>
                            <ul style='font-size:7pt; padding-left:20px;'>
                                <li>{% trans 'mp4またはmov形式のみ登録可能です。' %}
                                    <!-- (最大{{CONTENTS_SIZE_LIMIT}}MBまで) -->
                                    {% trans '[最大40MBまで]' %}
                                </li>
                                <li>
                                    {% trans 'iPhoneで撮影した動画を使用する場合はiPhoneを横にしてホームボタンが右側の状態で撮影した横長の動画をご使用下さい。ホームボタンの位置が逆ですと動画の上下が反転します。またそれ以外の縦長の動画などは想定通り動作しない可能性があります。' %}

                                </li>
                            </ul>
                        </p>
                    </td>
                </tr>
            </table>

            <p class="nomalFont list-mv02" style="color:black">
                <button id="btnEdit" type="button" class="btn btn-primary btnTempAdd" style="height:45px;"><p style="font-size:15pt">{% trans '登録' %}</p></button>
                <br>
                ※{% trans "こちらは簡易登録の為、登録後の編集が出来ません。また10分程で無効となります。" %}
            </p>
        </form>

        <p class="list-mv02" style="margin-top:30px">
            {% trans "PCやタブレットでこちらをご覧の方は、下記サンプル画像をアプリで読み取る事でUNIVERSE ARを体験していただけます。" %}<br>
            {% trans "アプリをお手持ちのiPhoneにインストールしてこちらのサンプル画像を読み取って下さい。" %}
        </p>

        <div class="list-mv02">
            <img src="{% static "images/" %}universe_sample_img.jpg" class="sampleImg" />
            <br>
            {% trans "[サンプル画像]" %}
            <!-- ※サンプル画像 -->
            <p style="margin-top:15px">
                <img src="{% static "images/" %}available-on-the-app-store.png"  style="width:150px;margin-top:15px;"/>
            </p>
        </div>

        <p class="list-mv02" style="margin-top:30px">
            {% trans "UNIVERSE AR体験は如何でしたでしょうか？" %}<br>
            {% trans "次はユーザー登録を行い複数のオリジナルARコンテンツを作成/管理しましょう。" %}
        </p>

    </div>

    <img src="{% static "images/" %}top_img_1.jpg" class="topImg1"/>

    <div id="howtouse" class="content-top fontShrik basicBox" style="background-color:white;color:#3878BC;text-align:center">

        <h2 style="margin:0px;font-weight:700;">{% trans 'あなただけのオリジナルARコンテンツを作成しましょう' %}</h2>
        {% trans "簡単な数ステップで作成可能です。" %}<br>
        <br>

        <div class="step-box list-mv07">
            <img src="{% static "images/" %}1_sign_up_icon_blue.png" style="width:150px" /><br>
            <p>
                <a href="/accounts/register/" class="btn btn-primary" style="margin-bottom:10px">{% trans 'サインアップ' %}</a>
                <br>
                <a href="#">{% trans "1.こちらからユーザー登録[gmailのアカウントでも可能]" %}</a>
                <br>
            </p>
        </div>

        <div class="step-box list-mv07">
            <img src="{% static "images/" %}2_upload_blue.png" style="width:150px" /><br>
            <p>
                <a href="/hlar/target/add/" class="btn btn-primary" style="margin-bottom:10px">{% trans 'ターゲット登録' %}</a>
                <br>
                {% trans "2.ターゲット登録から認識したい画像[ターゲット]と表示する動画を登録" %}<br>
            </p>
        </div>

        <div class="step-box list-mv07">
            <img src="{% static "images/" %}3_install_icon_blue.png"  style="width:150px"/><br>

            <p>
                <!-- <button type="button" class="btn btn-primary" style="margin-bottom:10px">{% trans 'インストール' %}</button><br> -->
                <img src="{% static "images/" %}available-on-the-app-store.png"  style="width:150px"/><br>
                {% trans "3.アプリ「UNIVERSE AR」をiPhoneにインストールする。" %}<br>
            </p>
        </div>

        <div class="step-box list-mv07">
            <img src="{% static "images/" %}4_try_icon_blue.png" style="width:150px" /><br>
            <button type="button" class="btn btn-primary" style="margin-bottom:10px">{% trans 'エンジョイ！' %}</button><br>
            <p>{% trans "4.アプリを起動してターゲットにかざせばオリジナルARコンテンツの完成です。" %}</p><br>
        </div>


        <div style="clear:both"></div>
    </div>


    <div class="fontShrik basicBox" style="background-color:#5ABB73;color:white;padding:50px 0px 50px 0px;text-align:center">
        <h2 style="margin:0px;font-weight:700;">TOP TARGETS</h2>
        {% trans "人気のターゲットを是非アプリからお試し下さい。" %}<br>

        <div style="margin-top:20px;">
            {% for target in targets %}
                <div class="step-box list-mv06">
                    <img src="{{s3_FQDN}}{{target.img_name}}" class="target-list" />
                </div>
            {% endfor %}
        </div>
    </div>


    <div id="forexample" class="content-top fontShrik basicBox" style="background-color:white;color:#3878BC;text-align:center;padding:50px 0px 50px 0px;margin:5px;width:100%;">

        <h2 style="margin:0px;font-weight:700;">{% trans '使用例' %}</h2>
        <!-- <br> -->

        <div style="margin-top:0px;">
                <div class="example-box list-mv06">
                    <img src="{% static "images/" %}universe_promotion_no_string.jpg" class="target-list" /><br>
                    {% trans "スペシャルな映像をカードに設定して、販売促進に" %}
                </div>
                <div class="example-box list-mv06">
                    <img src="{% static "images/" %}universe_wedding_bg_no_string.jpg" class="target-list" /><br>
                    {% trans "心のこもったメッセージをカードに込めて出席者のお席に置けば一味変わった演出に" %}
                </div>
                <div class="example-box list-mv06">
                    <img src="{% static "images/" %}universe_business_bg_no_string.jpg" class="target-list" /><br>
                    {% trans "ARコンテンツを設定して、いつもの名刺にインパクトを" %}
                </div>
        </div>

    </div>

    <div class="fontShrik basicBox" style="background-color:#F06868;color:white;text-align:center">
        <h2 style="margin:0px;font-weight:700;">CONTACT</h2>
        {% trans "ご要望/お問い合わせはこちらから" %}<br>

        <div class="contactDiv">info@insight.hiliberate.biz</div>
    </div>

</div>


<script type="text/javascript">
$(document).ready(function() {
    $(".slider-d").imgLiquid();
    $('.carousel').carousel();
});



$(function() {

    // リンクをクリックしたときの処理。外部リンクやページ内移動のスクロールリンクなどではフェードアウトさせたくないので少し条件を加えてる。
    $('#btnEdit').click(function(){
        //var url = "{% url 'hlar:target_list' %}"; // クリックされたリンクのURLを取得

        var h = $(window).height();
        $('#wrap').css('display','none');
        $('#loader-bg ,#loader').height(h).css('display','block');
        //$("#loader").prepend('<img src="{% static "images/" %}loader.gif" class="loaderImg" alt="Now Loading..." />');


        setTimeout(function(){ $('#uploadForm').submit(); }, 800); // URLにリンクする
        return false;
    });

});


</script>

{% endblock content %}
