{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block title %}書籍の一覧{% endblock title %}

<form action="/url/to/submit/" method="post" class="form">
{% csrf_token %}

{{ form.as_p }}


  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Submit
    </button>
  {% endbuttons %}
</form>

{% load static %}
{% if latest_target_list %}
    <ul>
    {% for target in latest_target_list %}
        <li>{{ target.vuforia_target_id }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No HLAR are available.</p>
{% endif %}
