{% extends "base.html" %}

{% load staticfiles %}

{% load i18n %}

{% block title %}{% trans 'ターゲット一覧' %}{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 8px;
}
</style>
{% endblock %}

{% block content %}


<div class="baseDiv nomalFont" style="text-align:center">

    <div class="contentsLargeDiv">

        <div class="fontShrik">
            <h4>{% trans 'ターゲット一覧' %}</h4>
        </div>

        {% if addTarget %}
        <div class="targetAddButton">
            <a href="{% url 'hlar:target_add' %}" class="btn btn-info btn-sm targetAddButtonA">
                <span style="margin-right:5px" class="glyphicon glyphicon-plus-sign"></span>{% trans 'ターゲット追加' %}
            </a>
            <p style='font-size:9pt'>
            <!-- ※{{TARGET_LIMIT_COUNT}}個まで無料で登録可能 -->
            ※ {% blocktrans %}{{TARGET_LIMIT_COUNT}} 個まで無料で登録可能{% endblocktrans %}
            <!-- {% trans '5個まで無料で登録可能' %} -->
            </p>
        </div>
        {% else %}
        <div class="targetAddButton">
            {% trans '登録上限を超えているので新規登録できません' %}
        </div>
        {% endif %}


        {% if targets|length > 0 %}

        {% if is_mobile %}
            {# cell phoneの場合 #}
            <hr style="margin:20px 0px 0px 0px;">

            <div class="targetList">
                <!-- <div>
        				<div class="targetListHead__id">ID</div>
        				<div class="targetListHead__target">ターゲット</div>
        				<div class="targetListHead__contents">コンテンツ</div>
        				<div class="targetListHead__view_count">再生回数</div>
        				<div class="targetListHead__view_count_limit">再生回数上限</div>
        				<div class="targetListHead__control">操作</div>
                </div>
                <hr style="margin-bottom:5px;"> -->

                {% for target in targets %}
                <div style="clear:both"></div>

                    <div class="rowForCellPhone">
                        <div class="targetListHead__target">
                            <a data-id="{{target.id}}" href="#" class="btn btn-default btn-sm aTargetEdit" style="border:none;">
                                <img src="{{s3_FQDN}}{{target.img_name}}" style="width:100%"/><br>
                            </a>
                        </div>

        				<div class="targetListHead__contents" style="margin-left:5px">
                            <video style="width:100%" src="{{s3_FQDN}}{{target.content_name}}" controls>
                              Your browser does not support the <code>video</code> element.
                            </video>
                        </div>

                        <div class="targetListHead__view_count">
                            {{ target.target_name }}<br>
                            {% trans '再生回数' %}:{{ target.view_count }} {% trans '回' %}<br>
                            {% trans '再生上限' %}:{{ target.view_count_limit }} {% trans '回' %}<br>
                            <a href="{{ target.fb_url }}" target="_blank"><img style="width:30px" src="{% static 'images/' %}menu_facebook.png" alt=""></a>
                            <a href="{{ target.twitter_url }}" target="_blank"><img style="width:30px;margin-left:3px" src="{% static 'images/' %}menu_twitter.png" alt=""></a>
                        </div>
                    </div>

                <div style="clear:both"></div>
                <hr style="margin:0px;">
                {% endfor %}





        {% else %}
            {# PCの場合 #}

            <div class="targetList">
                <div>
        				<div class="targetListHead__id">ID</div>
        				<div class="targetListHead__target">{% trans 'ターゲット' %}</div>
        				<div class="targetListHead__contents">{% trans 'コンテンツ' %}</div>
                        <div class="targetListHead__share">{% trans 'シェア' %}</div>
        				<div class="targetListHead__view_count">{% trans '再生回数' %}</div>
        				<div class="targetListHead__view_count_limit">{% trans '再生回数上限' %}</div>
        				<div class="targetListHead__control">{% trans '操作' %}</div>
                </div>
                <hr style="margin-bottom:5px;">

                {% for target in targets %}
                <div style="clear:both"></div>

                <div>
                        <div class="targetListHead__id">
                            {{ target.id }}
                        </div>

                        <div class="targetListHead__target">
                            <img src="{{s3_FQDN}}{{target.img_name}}" style="max-width:200px;max-height:100px;"/><br>
                            {{ target.target_name }}
                        </div>

        				<div class="targetListHead__contents">
                            <video style="height:100px" src="{{s3_FQDN}}{{target.content_name}}" controls>
                              Your browser does not support the <code>video</code> element.
                            </video>
                        </div>

                        <div class="targetListHead__share">
                            <a href="{{ target.fb_url }}" target="_blank"><img style="width:30px" src="{% static 'images/' %}menu_facebook.png" alt=""></a><br>
                            <a href="{{ target.twitter_url }}" target="_blank"><img style="width:30px;margin-top:5px" src="{% static 'images/' %}menu_twitter.png" alt=""></a>
                        </div>

                        <div class="targetListHead__view_count">
                            {{ target.view_count }}
                        </div>

                        <div class="targetListHead__view_count_limit">
                            {{ target.view_count_limit }}
                        </div>

                        <div class="targetListHead__control">
                            <a data-id="{{target.id}}" href="#" class="btn btn-default btn-sm aTargetEdit">{% trans '修正' %}</a>
                        </div>
                </div>

                <div style="clear:both"></div>
                <hr style="margin-top:10px;margin-bottom:5px;">
                {% endfor %}

            <div>


        {% endif %}
        {% else %}
                <div style="margin-top:10px">{% trans '登録されているターゲットがありません。' %}</div>
        {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
$(function() {

});

// リンクをクリックしたときの処理。外部リンクやページ内移動のスクロールリンクなどではフェードアウトさせたくないので少し条件を加えてる。
$('.aTargetEdit').click(function(){

    var url = '/hlar/target/mod/' + $(this).data('id') + '/';

    var h = $(window).height();
    $('#wrap').css('display','none');
    $('#loader-bg ,#loader').height(h).css('display','block');

    setTimeout(function(){ location.href = url; }, 800); // URLにリンクする
    return false;
});
</script>

{% endblock content %}
