{% extends "base.html" %}
{% load staticfiles %}

{% block title %}ターゲットの編集{% endblock title %}

{% block content %}
<div style="margin-top: 70px;margin-left:20px">


    <h3 class="page-header">ターゲットの編集</h3>
    <div style="margin-left:20px">

    {% if msg %}
        {{ msg }}<br><br>
    {% endif %}


    {% if target_id %}
    <form id="uploadForm" action="{% url 'hlar:target_mod' target_id=target_id %}" enctype="multipart/form-data" method="post" class="form-horizontal" role="form">
    {% else %}
    <form id="uploadForm" action="{% url 'hlar:target_add' %}" method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
    {% endif %}
      {% csrf_token %}

      {# {{ form|bootstrap_horizontal }} #}
      {# {{ form }} #}

        <div class="form-group">
            <label>ターゲット画像</label>
            <input type="file" name="target" class="form-control" style="width:300px">
            {% if target.img_name %}
                <img src="{% static "images/" %}{{target.img_name}}"  width="200px"/>
            {% endif %}

            <input type="hidden" name="target_file_name" value="">
        </div>

        <div class="form-group">
            <label>CONTENTS</label>
            <input type="file" name="contents" class="form-control" style="width:300px">
            {% if target.content_name %}
                <video style="width:300px" src="https://test-hlar.s3.amazonaws.com/{{target.content_name}}" controls>
                  Your browser does not support the <code>video</code> element.
                </video>
            {% endif %}


            <input type="hidden" name="contents_file_name" value="">
        </div>

        <div class="form-group">
            <label>NAME</label>
            <input type="text" name="target_name" class="form-control" style="width:200px" value="{{target.name}}">
        </div>

        <div class="form-group">
        <button type="submit" class="btn btn-primary" style="width:150px">送信</button>

        {% if target_id %}
        <br><a href="{% url 'hlar:target_del' target_id=target.id %}" class="btn btn-danger" style="width:150px;margin-top:5px">削除</a>
        {% endif %}

        <br><a href="{% url 'hlar:target_list' %}" class="btn btn-default" style="margin-top:5px">戻る</a>

        </div>
    </form>

    </div>
</div>

<script>
$(function() {

    $("input[name='target']").change(function(){

        var formData = new FormData($('#uploadForm')[0]);
        formData.append('other_data', 999);

        $.ajax({
             //url: '../upload/',
             url: "{% url 'hlar:target_upload' %}",
             type: 'post',
             data: formData,
             processData: false,
             contentType: false,
             timeout: 10000
         }).done(function (json, statusText, jqXHR) {
            console.log('done');
            ret = JSON.parse(json);
            $("input[name='target_file_name']").val(ret.filename);

         }).fail(function (jqXHR, statusText, errorThrown) {
             console.log('fail');
         }).then(function () {
            //$('#uploadForm').remove();
         });
    });
});
</script>


{% endblock content %}
