{% extends "base.html" %}
{% load staticfiles %}

{% load i18n %}

{% block title %}ターゲットの編集{% endblock title %}

{% block content %}
<!-- <div style="margin-top: 70px;margin-left:20px"> -->
<div class="baseDiv nomalFont" style="text-align:center">

    <div class="contentsLargeDiv">
        <!-- <h4 class="page-header">ターゲットの編集</h4> -->
        <div class="fontShrik">
            <h4>{% trans 'ターゲットの編集' %}</h4>
        </div>

        <!-- <div style="margin-left:20px"> -->

        {% if msg %}
            {{ msg }}<br><br>
        {% endif %}


        {% if target_id %}
        <form id="uploadForm" action="{% url 'hlar:target_mod' target_id=target_id %}" enctype="multipart/form-data" method="post" class="form-horizontal basicForm" role="form" style="text-align:left">
        {% else %}
        <form id="uploadForm" action="{% url 'hlar:target_add' %}" method="post" enctype="multipart/form-data" class="form-horizontal basicForm" role="form" style="text-align:left">
        {% endif %}
          {% csrf_token %}

          {# {{ form|bootstrap_horizontal }} #}
          {# {{ form }} #}

            <table class="resposiveTable">
                <tr>
                    <td colspan="2" style="text-align:left" >
                        <span class="box_corner_circle">STEP1</span>{% trans 'Universe.arアプリで使用するターゲット画像を登録します。' %}
                    </td>
                </tr>
                <tr style="border-bottom:none">
                    <td class="responsiveTableHeader">
                        <b>{% trans 'ターゲット画像' %}</b>
                    </td>

                    <td class="responsiveTableContents">
                        <input type="file" name="target" style="width:100%; margin-top:5px;">
                        {% if target.img_name %}
                            <img src="{{s3_FQDN}}{{target.img_name}}" style="margin-top:5px" width="200px"/>
                        {% endif %}
                        <p style='margin-top:5px'>
                            <ul style='font-size:7pt; padding-left:20px;'>
                                <!-- <li>jpg画像のみ登録可能です。(最大{{TARGET_SIZE_LIMIT}}MBまで)</li> -->

                                <li>{% trans 'jpg画像のみ登録可能です。' %}{% trans '[最大2MBまで]' %}</li>
                                <!-- <li>{% trans '過度に複雑な画像はターゲット画像に向きません。' %}{% trans 'シンプルなマーク/ロゴ画像を推奨します。' %}</li> -->
                                <!-- <li>{% trans 'iPhoneで撮影した画像は2MBを超える可能性があるのでスクリーンショットした画像の使用を推奨します。' %}</li> -->
                            <ul>

                        </p>
                        <input type="hidden" name="target_file_name" value="">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left" >
                        <span class="box_corner_circle">STEP2</span>{% trans '再生される動画を登録します。' %}
                    </td>
                </tr>
                <tr style="border-bottom:none">
                    <td class="responsiveTableHeader">
                        <b>{% trans 'コンテンツ動画' %}</b>
                    </td>

                    <td class="responsiveTableContents">
                        <input type="file" name="contents" style="width:100%; margin-top:5px;">
                        {% if target.content_name %}
                            <video style="width:300px; margin-top:5px" src="{{s3_FQDN}}{{target.content_name}}" controls>
                              Your browser does not support the <code>video</code> element.
                            </video>
                        {% endif %}
                        <p style='font-size:9pt;margin-top:5px'>
                            <ul style='font-size:7pt; padding-left:20px;'>
                                <li>{% trans 'mp4またはmov形式のみ登録可能です。' %}
                                    <!-- (最大{{CONTENTS_SIZE_LIMIT}}MBまで) -->
                                    {% trans '[最大40MBまで]' %}
                                </li>
                                <li>
                                    {% trans 'iPhoneで撮影した動画を使用する場合はiPhoneを横にしてホームボタンが右側の状態で撮影した横長の動画をご使用下さい。ホームボタンの位置が逆ですと動画の上下が反転します。またそれ以外の縦長の動画などは想定通り動作しない可能性があります。' %}

                                </li>
                            </ul>
                        </p>
                        <input type="hidden" name="contents_file_name" value="">
                        <input type="hidden" name="hid_content_name" value="{{target.content_name}}">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left" >
                        <span class="box_corner_circle">STEP3</span>{% trans 'ARコンテンツの名前を入力します。' %}
                    </td>
                </tr>
                <tr style="border-bottom:none">
                    <td class="responsiveTableHeader">
                        <b>{% trans '名前' %}</b>
                    </td>

                    <td  class="responsiveTableContents">
                        <div id="inputP" class="form-group">
                            <input type="text" name="target_name" class="form-control" style="width:100%" value="{{target.target_name}}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left" >
                        <span class="box_corner_circle">STEP4</span>{% trans 'ターゲット画像認識時、メニューに表示されるURLを設定します。' %}
                        ({% trans '省略可能' %})
                    </td>
                </tr>
                <tr>
                    <td class="responsiveTableHeader">
                        <b>{% trans '誘導リンク' %}</b>
                    </td>

                    <td  class="responsiveTableContents">
                        <div id="inputP" class="form-group">
                            <input type="text" name="target_link_URL" class="form-control" style="width:100%" value="{{target.target_link_URL}}">
                        </div>
                    </td>
                </tr>



                <tr>
                    <td class="responsiveTableHeader">
                        <b>{% trans '再生回数上限' %}</b>
                    </td>

                    <td  class="responsiveTableContents">
                        <div class="form-group">

                            {% if target_id %}
                                <p style="font-size:20pt">{{target.view_count_limit}}{% trans '回' %}</p>
                                <br>

                                {% trans '300回[2,980円]クーポンを購入[一回のみ]' %}<br>
                                {% if buy_history > 0 %}
                                    <button id="btnParchase300_dummey" class="btn btn-primary" style="width:50%" disabled>{% trans '購入する"300回"' %}</button>
                                {% else %}
                                    <button id="btnParchase300" class="btn btn-primary" style="width:50%">{% trans '購入する"300回"' %}</button>
                                {% endif %}

                                <!-- <form action="/your-server-side-code" method="POST">
                                  <script
                                    src="https://checkout.stripe.com/checkout.js"
                                    class="stripe-button"
                                    data-key="pk_test_kq2QUHQQbfbIiz6RdJEbj9DU"
                                    data-zip-code = "true"
                                    data-amount="2980"
                                    data-name="UNIVERSE"
                                    data-description="300回再生可能です"
                                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                    data-locale="auto"
                                    data-currency="jpy">
                                  </script>
                                </form> -->

                                <br>
                                <br>
                                {% trans '1,000回[29,800円]クーポンを購入' %}<br>
                                <button id="btnParchase1000" class="btn btn-primary" style="width:50%">{% trans '購入する"1000回"' %}</button>

                                <!-- <form action="/your-server-side-code" method="POST">
                                  <script
                                    src="https://checkout.stripe.com/checkout.js"
                                    class="stripe-button"
                                    data-key="pk_test_kq2QUHQQbfbIiz6RdJEbj9DU"
                                    data-zip-code = "true"
                                    data-amount="29800"
                                    data-name="UNIVERSE"
                                    data-description="1000回再生可能です"
                                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                    data-locale="auto"
                                    data-currency="jpy">
                                  </script>
                                </form> -->
                                <br>
                                ※ {% trans '10,000回〜上限無しなどご希望の場合はこちらからお問い合わせ下さい。' %}
                            {% else %}
                                <span id='span_view_count_limit' style="font-size:20pt">50 {% trans '回' %}(free)</span>
                                <br>
                                ※ {% trans '50回以上をこ希望の場合は登録後、ターゲット編集画面から300回/1,000回クーポンをご購入下さい。' %}
                            {% endif %}
                            <input type="hidden" name="hid_view_count_limit" value="50">

                            <!-- <input type="radio" name="view_count_limit" value="50"> 50回
                            <input type="radio" name="view_count_limit" value="1000"> 1,000回 -->

                        </div>
                    </td>
                </tr>

                {% if target_id %}
                <tr>
                    <td class="responsiveTableHeader">
                        <b>{% trans '現在の再生済回数' %}</b>
                    </td>

                    <td  class="responsiveTableContents">
                        <p style="font-size:20pt">
                            {{target.view_count}} {% trans '回' %}
                        </p>
                    </td>
                </tr>
                {% endif %}
            </table>

            <!-- <div class="form-group">
                <label>ターゲット画像</label>
                <input type="file" name="target" style="width:100%; margin-top:5px;">
                {% if target.img_name %}
                    <img src="{{s3_FQDN}}{{target.img_name}}" style="margin-top:5px" width="200px"/>
                {% endif %}

                <input type="hidden" name="target_file_name" value="">
            </div> -->

            <!-- <div class="form-group">
                <label>CONTENTS</label>
                <input type="file" name="contents" style="width:100%; margin-top:5px;">
                {% if target.content_name %}
                    <video style="width:300px; margin-top:5px" src="{{s3_FQDN}}{{target.content_name}}" controls>
                      Your browser does not support the <code>video</code> element.
                    </video>
                {% endif %}
                <input type="hidden" name="contents_file_name" value="">
            </div> -->

            <!-- <div id="inputP" class="form-group">
                <label>NAME</label>
                <input type="text" name="target_name" class="form-control" style="width:100%" value="{{target.name}}">
            </div> -->



            <div class="form-group" style="text-align:center;margin-top:25px">
                {% if target_id %}
                    <!-- <button type="submit" class="btn btn-primary" style="width:30%; height:45px;"><p style="font-size:15pt">登録</p></button> -->
                    <button id="btnEdit" type="button" class="btn btn-primary" style="width:30%; height:45px;"><p style="font-size:15pt">{% trans '登録' %}</p></button>
                    <a href="{% url 'hlar:target_del' target_id=target.id %}" class="btn btn-danger" style="width:30%; height:45px;"><p style="margin-top:0px;font-size:15pt">{% trans '削除' %}</p></a>
                    <a id="btnReturn" href="#" class="btn btn-default" style="margin-top:20px;width:60%; height:45px;"><p style="margin-top:6px">{% trans '戻る' %}</p></a>
                {% else %}
                    <!-- <button type="submit" class="btn btn-primary" style="width:40%; height:45px;"><p style="font-size:15pt">登録</p></button> -->
                    <button id="btnEdit" type="button" class="btn btn-primary" style="width:40%; height:45px;"><p style="font-size:15pt">{% trans '登録' %}</p></button>
                    <a id="btnReturn" href="#" class="btn btn-default" style="margin-top:0px;width:40%; height:45px;"><p style="margin-top:6px">{% trans '戻る' %}</p></a>
                {% endif %}
                    <p style="margin-top:10px">
                        ※{% trans 'wifi環境でのアップ推奨です' %}<br>
                        ※{% trans 'この操作は1〜2分ほどかかる場合があります' %}
                    </p>
            </div>



        </form>

        <!-- </div> -->
    </div>
</div>


<script src="https://checkout.stripe.com/checkout.js"></script>




<script>

var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

$(function() {

    // リンクをクリックしたときの処理。外部リンクやページ内移動のスクロールリンクなどではフェードアウトさせたくないので少し条件を加えてる。
    $('#btnEdit').click(function(){
        //var url = "{% url 'hlar:target_list' %}"; // クリックされたリンクのURLを取得

        var h = $(window).height();
        $('#wrap').css('display','none');
        $('#loader-bg ,#loader').height(h).css('display','block');
        //$("#loader").prepend('<img src="{% static "images/" %}loader.gif" class="loaderImg" alt="Now Loading..." />');


        setTimeout(function(){ $('#uploadForm').submit(); }, 800); // URLにリンクする
        return false;
    });

    // リンクをクリックしたときの処理。外部リンクやページ内移動のスクロールリンクなどではフェードアウトさせたくないので少し条件を加えてる。
    $('#btnReturn').click(function(){
        var url = "{% url 'hlar:target_list' %}";

        var h = $(window).height();
        $('#wrap').css('display','none');
        $('#loader-bg ,#loader').height(h).css('display','block');
        //$("#loader").prepend('<img src="{% static "images/" %}loader.gif" class="loaderImg" alt="Now Loading..." />');


        setTimeout(function(){ location.href = url; }, 800); // URLにリンクする

        return false;
    });



    // $("input[name='target']").change(function(){
    //     var formData = new FormData($('#uploadForm')[0]);
    //     formData.append('other_data', 999);
    //
    //     $.ajax({
    //          //url: '../upload/',
    //          url: "{% url 'hlar:target_upload' %}",
    //          type: 'post',
    //          data: formData,
    //          processData: false,
    //          contentType: false,
    //          timeout: 10000
    //      }).done(function (json, statusText, jqXHR) {
    //         console.log('done');
    //         ret = JSON.parse(json);
    //         $("input[name='target_file_name']").val(ret.filename);
    //
    //      }).fail(function (jqXHR, statusText, errorThrown) {
    //          console.log('fail');
    //      }).then(function () {
    //         //$('#uploadForm').remove();
    //      });
    // });
});






var targetId = {{ target_id }};
var amount = 0;
var userId = {{ user.id }};
var brought_view_count = 0;

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

var handler = StripeCheckout.configure({
  // key: 'pk_test_kq2QUHQQbfbIiz6RdJEbj9DU',
  // key: 'pk_test_Qf9hdfU6fy6sKc09jZ4hKH5T',
  key: "{{stripe_pulishable_key}}",

  // image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
  image: '{% static "images/" %}app_icon_U_layer_resize_blue.png',
  locale: 'auto',
  token: function(token) {
    // You can access the token ID with `token.id`.
    // Get the token ID to your server-side code for use.
    var formData = {};
    formData['targetId'] = targetId;
    formData['amount'] = amount;
    formData['tokenId'] = token.id;


    // $.ajaxSetup({
    //     beforeSend: function(xhr, settings) {
    //         if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
    //             xhr.setRequestHeader("X-CSRFToken", csrftoken);
    //         }
    //     }
    // });

    $.ajax({
         url: "{% url 'hlar:target_payment' %}",
         type: 'post',
         data: {
                'targetId':targetId,
                'amount':amount,
                'tokenId':token.id,
                'broughtViewCount':brought_view_count,
                'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
        },
        //  processData: false,
        //  contentType: false,
         timeout: 10000
     }).done(function (json, statusText, jqXHR) {
        console.log('done');
        ret = JSON.parse(json);

        if (ret.ret) {
            alert('正常に処理が完了しました。');
            location.reload();
        } else {
            alert(ret.msg);
        }

        $("input[name='target_file_name']").val(ret.filename);

     }).fail(function (jqXHR, statusText, errorThrown) {
         console.log('fail');
     }).then(function () {
        //$('#uploadForm').remove();
     });

  }
});

{% if buy_history == 0 %}

document.getElementById('btnParchase300').addEventListener('click', function(e) {
  // Open Checkout with further options:
  handler.open({
    name: 'Universe.ar',
    description: '300回再生可能です。',
    currency: 'jpy',
    amount: 2980,
    opened: function() {
    	amount = 2980;
        brought_view_count = 300;
    },
  });
  e.preventDefault();
});

{% endif %}


document.getElementById('btnParchase1000').addEventListener('click', function(e) {
  // Open Checkout with further options:
  handler.open({
    name: 'Universe.ar',
    description: '1000回再生可能です。',
    currency: 'jpy',
    amount: 29800,
    opened: function() {
    	amount = 29800;
        brought_view_count = 1000;
    },
  });
  e.preventDefault();
});



// Close Checkout on page navigation:
window.addEventListener('popstate', function() {
  handler.close();
});



function setStripeExtraParam (){

}

</script>


{% endblock content %}
