{% extends "base.html" %}

{% block title %}アカウント編集{% endblock title %}

{% block content %}
<!-- <div style="margin-top: 70px;margin-left:20px"> -->
<div class="baseDiv nomalFont" style="text-align:center">

    <div class="contentsDiv">


        <div  class="fontShrik">
            <h4>ユーザー情報変更</h4>
        </div>

        {% if msg %}
            {% if 'success_msg' in msg %}
                <p style="color:blue">{{ msg.success_msg }}</p>
            {% elif 'error_msg' in msg %}
                <p style="color:red">{{ msg.error_msg }}</p>
            {% endif %}
        {% endif %}

        <!-- <form action="" method="POST"> -->
        <form method="post" action="" class="basicForm" >
            <div style="text-align:left">

            {% csrf_token %}

            {% for field in form %}

                {# パスワードはこのページでは操作不可とする #}
                {% if field.name != 'password' %}
                <!-- <div class="fieldWrapper" id="inputP"> -->
                <p id="inputP">

                    {{ field.label_tag }} {{ field }}
                    {{ field.errors }}
                </p>
                <!-- </div> -->
                {% else %}
                <div class="fieldWrapper">
                    {{ field.label_tag }} 変更は<a href="/password/change/">こちら</a>
                    {{ field.errors }}
                </div>
                {% endif %}

            {% endfor %}


                <input type="submit" value="登録" class="form-control btn-primary" style="width:100%;margin-top:5px"/>
                <input id="mode" name="mode" type="hidden" value="edit">
            </div>
        </form>
    </div>
</div>
{% endblock content %}
