{% extends "base.html" %}
{% load i18n %}

{% block title %}アカウント編集{% endblock title %}

{% block content %}
<!-- <div style="margin-top: 70px;margin-left:20px"> -->
<div class="baseDiv nomalFont" style="text-align:center">

        <div class="contentsDiv">


        <div  class="fontShrik">
            <h4>{% trans 'ユーザー情報変更' %}</h4>
        </div>

        {% if msg %}
            {% if 'success_msg' in msg %}
                <p style="color:blue">{% trans msg.success_msg %}</p>
            {% elif 'error_msg' in msg %}
                <p style="color:red">{% trans msg.error_msg %}</p>
            {% endif %}
        {% endif %}

        <!-- <form action="" method="POST"> -->
        <form method="post" action="" class="basicForm" >
            <div style="text-align:left">

            {% csrf_token %}

            {% for field in form %}

                {# パスワードはこのページでは操作不可とする #}
                {% if field.name != 'password' %}
                <p id="inputP">

                    {% trans field.label_tag %} {{ field }}
                    {{ field.errors }}
                </p>
                {% else %}
                <div class="fieldWrapper">
                    {% trans field.label_tag %} {% trans '変更は<a href="/password/change/">こちら</a>' %}
                    {{ field.errors }}
                </div>
                {% endif %}
            {% endfor %}
                <input type="submit" value="{% trans '登録' %}" class="form-control btn-primary" style="width:100%;margin-top:5px"/>
                <input id="mode" name="mode" type="hidden" value="edit">
            </div>
        </form>
    </div>
</div>
{% endblock content %}
